body{

background:#0f172a;
color:white;
font-family:Arial;
text-align:center;

}

.panel{

width:600px;
margin:auto;
padding:30px;
background:#111827;
border-radius:15px;
box-shadow:0 0 25px #00f5ff;

}

button{

background:#00f5ff;
border:none;
padding:10px 20px;
margin:5px;
border-radius:8px;
cursor:pointer;

}

button:hover{

background:#06b6d4;

}

table{

margin:auto;
border-collapse:collapse;

}

th,td{

border:1px solid #333;
padding:8px 12px;

}